
#footer {
  color: #faf2e2;
  background-color: #11293f;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}